.education {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  @media screen and (min-width: 1000px) {
    padding: 60px;
  }

  h2 {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    @media screen and (min-width: 1000px) {
      font-size: 30px;
    }
  }

  .education__boxes {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1000px) {
      // display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
    }
    .education__container {
      max-width: 315px;
      margin: 2rem 0;
      height: 380px;
      background: linear-gradient(180deg, #171a1b 0%, rgba(23, 26, 27, 0) 100%);
      opacity: 0.9; //0.8
      border-radius: 15px;
      @media screen and (min-width: 1000px) {
        margin: 2rem 0;
      }
    }

    .education__box {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 17px;
    }

    .education__header__btn {
      display: flex;
      gap: 8px;

      span {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        display: inline-block;
      }
      .dot1 {
        background-color: #ff5f56;
      }
      .dot2 {
        background-color: #ffbd2e;
      }
      .dot3 {
        background-color: #27c93f;
      }
    }

    .education__header__direction {
      // background-color: #202226;
      background: linear-gradient(180deg, #202226 0%, rgba(23, 26, 27, 0) 100%);
      padding: 1px 60px;
      border-radius: 10px;
      border: 1px solid #202226;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        color: white;
        font-size: 11px;
        text-align: center;
      }
    }

    .education__content {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .education__content__title {
        h2 {
          font-size: 20px;
          margin: 1rem auto 0;
          color: #ffffff;
        }
      }
      .short {
        h2 {
          margin: 16px auto 30px;
        }
      }
      .education__content__img {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
        img {
          // max-width: 280px;
          height: 80px;
        }
      }
      .education__content__info {
        p {
          color: white;
        }
      }
    }
  }
}
