.frontcover {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1024px) {
    padding: 60px;
  }

  .frontcover__text {
    line-height: 36px;
    @media screen and (min-width: 1024px) {
      line-height: 60px;
    }
    .frontcover__text--1 {
      font-weight: 400;
      color: #0ee6b7;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media screen and (min-width: 1024px) {
        font-size: 40px;
      }
    }
    .frontcover__text--2 {
      font-weight: 700;
      color: #ffffff;
      @media screen and (min-width: 1024px) {
        font-size: 40px;
      }
    }
    .frontcover__text--3 {
      font-weight: 700;
      -webkit-text-stroke: 1px #0ee6b7;
      color: transparent;
      @media screen and (min-width: 1024px) {
        font-size: 40px;
      }
    }
  }

  .window__container {
    margin: auto;
    background-color: #171a1b;
    border-radius: 15px;
    margin: 2rem 0;
    border: 1px solid #4a4a4a;
    opacity: 0.9; //0.8
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-grow: 0.8;

    .window__header__container {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 24px;
    }

    .window__header__direction {
      background-color: #202226;
      padding: 1px 0;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      p {
        color: white;
        font-size: 11px;
        text-align: center;
      }
    }

    .window__header__btn {
      display: flex;
      gap: 8px;
      .dot1 {
        background-color: #ff5f56;
      }
      .dot2 {
        background-color: #ffbd2e;
      }
      .dot3 {
        background-color: #27c93f;
      }
      span {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        display: inline-block;
      }
    }

    .window__web__content {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 15px;
      font-size: 14px;
      p {
        color: #fca311;
        span {
          color: #ffffff;
        }
      }

      .window__web__content__p {
        p {
          padding: 0 0 0 2rem;
          color: #0ee6b7;
        }
      }
    }
  }
}
