@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(40, 40, 40);
  background: -moz-linear-gradient(
    307deg,
    rgba(28, 31, 35, 1) 20%,
    rgba(14, 38, 80, 1) 46%,
    rgba(28, 31, 35, 1) 78%
  );
  background: -webkit-linear-gradient(
    307deg,
    rgba(28, 31, 35, 1) 20%,
    rgba(14, 38, 80, 1) 46%,
    rgba(28, 31, 35, 1) 78%
  );
  background: linear-gradient(
    307deg,
    rgba(28, 31, 35, 1) 20%,
    rgba(14, 38, 80, 1) 46%,
    rgba(28, 31, 35, 1) 78%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1f23",endColorstr="#1c1f23",GradientType=1);
  // @media screen and (min-width: 700px) {
  //   padding: 0 1rem;
  // }
}
